<ul>
  <li>
    <h2>Getting Started</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/getting-started/installation">Installation</a></li>
      <li><a href="/getting-started/usage">Usage</a></li>
      <li><a href="/getting-started/themes">Themes</a></li>
      <li><a href="/getting-started/customizing">Customizing</a></li>
      <li><a href="/getting-started/form-controls">Form Controls</a></li>
      <li><a href="/getting-started/localization">Localization</a></li>
    </ul>
  </li>
  <li>
    <h2>Frameworks</h2>
    <ul>
      <li><a href="/frameworks/react">React</a></li>
      <li><a href="/frameworks/vue">Vue</a></li>
      <li><a href="/frameworks/angular">Angular</a></li>
      <li><a href="/frameworks/svelte">Svelte</a></li>
      <li><a href="/frameworks/preact">Preact</a></li>
    </ul>
  </li>
  <li>
    <h2>Components</h2>
    <ul>
      {% for component in meta.components %}
        <li>
          <a href="/components/{{ component.tagName | removeAWCPrefix }}">
            {{ component.name | classNameToComponentName }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
  {% if meta.layouts | length %}
  <li>
    <h2>Layouts</h2>
    <ul>
      {% for layout in meta.layouts %}
        <li>
          <a href="/layouts/{{ layout.tagName | removeAWCPrefix }}">
            {{ layout.name | classNameToComponentName }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  <li>
    <h2>Blocks</h2>
    <ul>
      <li><a href="/block/banner">Banner</a></li>
      <li><a href="/block/blog">Blog</a></li>
      <li><a href="/block/collections">Collections</a></li>
      <li><a href="/block/content">Content</a></li>
      <li><a href="/block/cta">Call to Action</a></li>
      <li><a href="/block/errors">Errors</a></li>
      <li><a href="/block/faq">FAQ</a></li>
      <li><a href="/block/features">Features</a></li>
      <li><a href="/block/footer">Footer</a></li>
      <li><a href="/block/gallery">Gallery</a></li>
      {# <li><a href="/block/header">Header</a></li> #}
      <li><a href="/block/heading">Heading</a></li>
      <li><a href="/block/hero">Hero</a></li>
      <li><a href="/block/logo-cloud">Logo cloud</a></li>
      {# <li><a href="/block/newsletter">Newsletter</a></li> #}
      {# <li><a href="/block/pricing">Pricing</a></li> #}
      <li><a href="/block/reviews">Reviews</a></li>
      <li><a href="/block/stats">Stats</a></li>
      <li><a href="/block/team">Team</a></li>
      <li><a href="/block/testimonials">Testimonials</a></li>
    </ul>
  </li>
  <li>
    <h2>Design Tokens</h2>
    <ul>
      <li><a href="/tokens/typography">Typography</a></li>
      <li><a href="/tokens/color">Color</a></li>
      <li><a href="/tokens/spacing">Spacing</a></li>
      <li><a href="/tokens/elevation">Elevation</a></li>
      <li><a href="/tokens/border-radius">Border Radius</a></li>
      <li><a href="/tokens/transition">Transition</a></li>
      <li><a href="/tokens/z-index">Z-index</a></li>
      <li><a href="/tokens/more">More Tokens</a></li>
    </ul>
  </li>
  <li>
    <h2>Resources</h2>
    <ul>
      <li><a href="https://github.com/agence-adeliom/awc/discussions">Help &amp; Support</a></li>
      <li><a href="/resources/contributing">Contributing</a></li>
      <li><a href="/resources/changelog">Changelog</a></li>
    </ul>
  </li>
  <li>
    <h2>Tutorials</h2>
    <ul>
      <li><a href="/tutorials/integrating-with-laravel">Integrating with Laravel</a></li>
      <li><a href="/tutorials/integrating-with-nextjs">Integrating with NextJS</a></li>
      <li><a href="/tutorials/integrating-with-rails">Integrating with Rails</a></li>
      <li><a href="/tutorials/integrating-with-tailwind">Integrating with Tailwind</a></li>
    </ul>
  </li>
</ul>
