:root,
:host,
.awc-theme-light,
:is([data-mode='dark'] .dark\:awc-theme-light),
[data-mode='light'] {
  color-scheme: light;

  --awc-panel-border-width: 0.0625rem;
  --awc-tooltip-arrow-size: 0.375rem;
  --awc-overlay-background-color: rgba(113, 113, 122, 0.33);
  --awc-toggle-size-large: 1.375rem;
  --awc-toggle-size-medium: 1.125rem;
  --awc-toggle-size-small: 0.875rem;
  --awc-input-label-color: inherit;
  --awc-input-focus-ring-offset: 0;
  --awc-input-focus-ring-color: hsl(198.6 88.7% 48.4% / 40%);
  --awc-input-required-content: "*";
  --awc-input-border-width: 0.0625rem;
  --awc-input-height-large: 3.125rem;
  --awc-input-height-medium: 2.5rem;
  --awc-input-height-small: 1.875rem;
  --awc-focus-ring-offset: 0.0625rem;
  --awc-focus-ring-width: 0.1875rem;
  --awc-focus-ring-style: solid;
  --awc-section-padding-y-mobile: 2.5rem;
  --awc-section-padding-y-desktop: 5rem;
  --awc-section-padding-x-mobile: 1rem;
  --awc-section-padding-x-desktop: 7.5rem;
  --awc-card-border-width: 0.0625rem;
  --awc-breakpoint-figma: 90rem;
  --awc-breakpoint-2xlarge: 96rem;
  --awc-breakpoint-xlarge: 80rem;
  --awc-breakpoint-large: 64rem;
  --awc-breakpoint-medium: 48rem;
  --awc-breakpoint-small: 40rem;
  --awc-z-index-tooltip: 1000;
  --awc-z-index-toast: 950;
  --awc-z-index-dropdown: 900;
  --awc-z-index-dialog: 800;
  --awc-z-index-drawer: 700;
  --awc-line-height-looser: 220%;
  --awc-line-height-loose: 180%;
  --awc-line-height-normal: 140%;
  --awc-line-height-dense: 120%;
  --awc-line-height-denser: 100%;
  --awc-letter-spacing-looser: 0.15em;
  --awc-letter-spacing-loose: 0.075em;
  --awc-letter-spacing-normal: normal;
  --awc-letter-spacing-dense: -0.015em;
  --awc-letter-spacing-denser: -0.03em;
  --awc-font-weight-medium: 500;
  --awc-font-weight-bold: 700;
  --awc-font-weight-semibold: 600;
  --awc-font-weight-normal: 400;
  --awc-font-weight-light: 300;
  --awc-font-size-10xlarge: 5.25rem;
  --awc-font-size-9xlarge: 5rem;
  --awc-font-size-8xlarge: 4.75rem;
  --awc-font-size-7xlarge: 4.5rem;
  --awc-font-size-6xlarge: 3.75rem;
  --awc-font-size-5xlarge: 3rem;
  --awc-font-size-4xlarge: 2.25rem;
  --awc-font-size-3xlarge: 1.875rem;
  --awc-font-size-2xlarge: 1.5rem;
  --awc-font-size-xlarge: 1.25rem;
  --awc-font-size-large: 1.125rem;
  --awc-font-size-medium: 1rem;
  --awc-font-size-small: 0.875rem;
  --awc-font-size-xsmall: 0.75rem;
  --awc-font-size-2xsmall: 0.625rem;
  --awc-font-serif: Georgia, 'Times New Roman', serif;
  --awc-font-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --awc-font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';;
  --awc-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;	;
  --awc-transition-xfast: 50ms;
  --awc-transition-fast: 150ms;
  --awc-transition-medium: 250ms;
  --awc-transition-slow: 500ms;
  --awc-transition-xslow: 1000ms;
  --awc-spacing-7xlarge: 4.5rem;
  --awc-spacing-6xlarge: 3rem;
  --awc-spacing-5xlarge: 2.5rem;
  --awc-spacing-4xlarge: 2.25rem;
  --awc-spacing-3xlarge: 2rem;
  --awc-spacing-2xlarge: 1.75rem;
  --awc-spacing-xlarge: 1.5rem;
  --awc-spacing-large: 1.25rem;
  --awc-spacing-medium: 1rem;
  --awc-spacing-small: 0.75rem;
  --awc-spacing-xsmall: 0.5rem;
  --awc-spacing-2xsmall: 0.25rem;
  --awc-spacing-3xsmall: 0.125rem;
  --awc-shadow-xlarge-color: rgba(113, 113, 122, 0.12);
  --awc-shadow-xlarge-spread: 16;
  --awc-shadow-xlarge-blur: 16;
  --awc-shadow-xlarge-y: 4;
  --awc-shadow-xlarge-x: 0;
  --awc-shadow-large-color: rgba(113, 113, 122, 0.12);
  --awc-shadow-large-spread: 8;
  --awc-shadow-large-blur: 8;
  --awc-shadow-large-y: 2;
  --awc-shadow-large-x: 0;
  --awc-shadow-medium-color: rgba(113, 113, 122, 0.12);
  --awc-shadow-medium-spread: 4;
  --awc-shadow-medium-blur: 4;
  --awc-shadow-medium-y: 2;
  --awc-shadow-medium-x: 0;
  --awc-shadow-small-color: rgba(113, 113, 122, 0.12);
  --awc-shadow-small-spread: 2;
  --awc-shadow-small-blur: 2;
  --awc-shadow-small-y: 1;
  --awc-shadow-small-x: 0;
  --awc-shadow-xsmall-color: rgba(113, 113, 122, 0.06);
  --awc-shadow-xsmall-spread: 2;
  --awc-shadow-xsmall-blur: 2;
  --awc-shadow-xsmall-y: 1;
  --awc-shadow-xsmall-x: 0;
  --awc-border-radius-circle: 50%;
  --awc-border-radius-pill: 624.9375rem;
  --awc-border-radius-xlarge: 1rem;
  --awc-border-radius-large: 0.5rem;
  --awc-border-radius-medium: 0.25rem;
  --awc-border-radius-small: 0.1875rem;
  --awc-border-radius-none: 0;
  --awc-color-transparent: rgba(255, 255, 255, 0);
  --awc-color-neutral-1000: rgb(0, 0, 0);
  --awc-color-neutral-0: rgb(255, 255, 255);
  --awc-color-danger-950: rgb(69, 10, 10);
  --awc-color-danger-800: rgb(153, 27, 27);
  --awc-color-danger-600: rgb(220, 38, 38);
  --awc-color-danger-400: rgb(248, 113, 113);
  --awc-color-danger-200: rgb(254, 202, 202);
  --awc-color-danger-50: rgb(254, 242, 242);
  --awc-color-warning-950: rgb(69, 44, 3);
  --awc-color-warning-800: rgb(146, 97, 14);
  --awc-color-warning-600: rgb(217, 139, 6);
  --awc-color-warning-400: rgb(251, 171, 36);
  --awc-color-warning-200: rgb(253, 210, 138);
  --awc-color-warning-50: rgb(255, 248, 235);
  --awc-color-success-950: rgb(5, 46, 20);
  --awc-color-success-800: rgb(22, 101, 51);
  --awc-color-success-600: rgb(22, 163, 74);
  --awc-color-success-400: rgb(74, 222, 128);
  --awc-color-success-200: rgb(187, 247, 209);
  --awc-color-success-50: rgb(240, 253, 245);
  --awc-color-tertiary-950: rgb(27, 28, 75);
  --awc-color-tertiary-800: rgb(48, 50, 163);
  --awc-color-tertiary-600: rgb(70, 73, 229);
  --awc-color-tertiary-400: rgb(129, 132, 248);
  --awc-color-tertiary-200: rgb(199, 200, 254);
  --awc-color-tertiary-50: rgb(238, 238, 255);
  --awc-color-secondary-950: rgb(8, 53, 73);
  --awc-color-secondary-800: rgb(7, 94, 133);
  --awc-color-secondary-600: rgb(2, 138, 199);
  --awc-color-secondary-400: rgb(56, 188, 248);
  --awc-color-secondary-200: rgb(186, 232, 253);
  --awc-color-secondary-50: rgb(240, 250, 255);
  --awc-color-primary-950: rgb(78, 9, 39);
  --awc-color-primary-800: rgb(154, 26, 84);
  --awc-color-primary-600: rgb(215, 43, 128);
  --awc-color-primary-400: rgb(241, 117, 188);
  --awc-color-primary-200: rgb(250, 208, 234);
  --awc-color-primary-50: rgb(253, 242, 249);
  --awc-color-gray-950: rgb(19, 19, 22);
  --awc-color-gray-900: rgb(24, 24, 27);
  --awc-color-gray-800: rgb(39, 39, 42);
  --awc-color-gray-700: rgb(63, 63, 70);
  --awc-color-gray-600: rgb(82, 82, 91);
  --awc-color-gray-500: rgb(113, 113, 122);
  --awc-color-gray-400: rgb(161, 161, 170);
  --awc-color-gray-300: rgb(212, 212, 216);
  --awc-color-gray-200: rgb(228, 228, 231);
  --awc-color-gray-100: rgb(244, 244, 245);
  --awc-color-gray-50: rgb(249, 249, 249);
  --awc-panel-padding: var(--awc-spacing-xlarge);
  --awc-panel-background-color: var(--awc-color-neutral-0);
  --awc-panel-border-radius: var(--awc-border-radius-medium);
  --awc-stepper-border-radius: var(--awc-border-radius-pill);
  --awc-tooltip-padding-y: var(--awc-spacing-2xsmall);
  --awc-tooltip-padding-x: var(--awc-spacing-xsmall);
  --awc-tooltip-line-height: var(--awc-line-height-dense);
  --awc-tooltip-font-size: var(--awc-font-size-small);
  --awc-tooltip-font-weight: var(--awc-font-weight-normal);
  --awc-tooltip-font-family: var(--awc-font-sans);
  --awc-tooltip-color: var(--awc-color-neutral-0);
  --awc-tooltip-border-radius: var(--awc-border-radius-medium);
  --awc-input-help-text-font-size-large: var(--awc-font-size-medium);
  --awc-input-help-text-font-size-medium: var(--awc-font-size-small);
  --awc-input-help-text-font-size-small: var(--awc-font-size-xsmall);
  --awc-input-label-font-size-large: var(--awc-font-size-large);
  --awc-input-label-font-size-medium: var(--awc-font-size-medium);
  --awc-input-label-font-size-small: var(--awc-font-size-small);
  --awc-input-spacing-large: var(--awc-spacing-large);
  --awc-input-spacing-medium: var(--awc-spacing-medium);
  --awc-input-spacing-small: var(--awc-spacing-small);
  --awc-input-letter-spacing: var(--awc-letter-spacing-normal);
  --awc-input-font-size-large: var(--awc-font-size-large);
  --awc-input-font-size-medium: var(--awc-font-size-medium);
  --awc-input-font-size-small: var(--awc-font-size-small);
  --awc-input-font-weight: var(--awc-font-weight-normal);
  --awc-input-font-family: var(--awc-font-sans);
  --awc-input-border-radius-large: var(--awc-border-radius-medium);
  --awc-input-border-radius-medium: var(--awc-border-radius-medium);
  --awc-input-border-radius-small: var(--awc-border-radius-medium);
  --awc-input-border-color-focus: var(--awc-color-primary-600);
  --awc-input-background-color-default: var(--awc-color-neutral-0);
  --awc-focus-ring-color: var(--awc-color-primary-800);
  --awc-badge-border-radius: var(--awc-border-radius-pill);
  --awc-text-title-color: var(--awc-color-neutral-1000);
  --awc-button-icon-color-hover: var(--awc-color-primary-800);
  --awc-button-icon-color-default: var(--awc-color-primary-600);
  --awc-button-icon-border-color-hover: var(--awc-color-primary-800);
  --awc-button-icon-border-color-default: var(--awc-color-primary-600);
  --awc-button-icon-background-color-disabled: var(--awc-color-transparent);
  --awc-button-icon-background-color-hover: var(--awc-color-transparent);
  --awc-button-icon-background-color-default: var(--awc-color-transparent);
  --awc-button-text-icon-hover: var(--awc-color-primary-800);
  --awc-button-text-icon-default: var(--awc-color-primary-600);
  --awc-button-text-color-hover: var(--awc-color-neutral-1000);
  --awc-button-text-color-default: var(--awc-color-neutral-1000);
  --awc-button-text-border-color-disabled: var(--awc-color-transparent);
  --awc-button-text-border-color-hover: var(--awc-color-transparent);
  --awc-button-text-border-color-default: var(--awc-color-transparent);
  --awc-button-text-background-color-disabled: var(--awc-color-transparent);
  --awc-button-text-background-color-hover: var(--awc-color-transparent);
  --awc-button-text-background-color-default: var(--awc-color-transparent);
  --awc-button-tertiary-color-disabled: var(--awc-color-neutral-0);
  --awc-button-tertiary-color-hover: var(--awc-color-neutral-0);
  --awc-button-tertiary-color-default: var(--awc-color-neutral-0);
  --awc-button-tertiary-border-color-hover: var(--awc-color-tertiary-800);
  --awc-button-tertiary-border-color-default: var(--awc-color-tertiary-600);
  --awc-button-tertiary-background-color-hover: var(--awc-color-tertiary-800);
  --awc-button-tertiary-background-color-default: var(--awc-color-tertiary-600);
  --awc-button-secondary-color-hover: var(--awc-color-primary-800);
  --awc-button-secondary-color-default: var(--awc-color-primary-600);
  --awc-button-secondary-border-color-hover: var(--awc-color-primary-800);
  --awc-button-secondary-border-color-default: var(--awc-color-primary-600);
  --awc-button-secondary-background-color-disabled: var(--awc-color-transparent);
  --awc-button-secondary-background-color-hover: var(--awc-color-transparent);
  --awc-button-secondary-background-color-default: var(--awc-color-transparent);
  --awc-button-primary-color-disabled: var(--awc-color-neutral-0);
  --awc-button-primary-color-hover: var(--awc-color-neutral-0);
  --awc-button-primary-color-default: var(--awc-color-neutral-0);
  --awc-button-primary-border-color-hover: var(--awc-color-primary-800);
  --awc-button-primary-border-color-default: var(--awc-color-primary-600);
  --awc-button-primary-background-color-hover: var(--awc-color-primary-800);
  --awc-button-primary-background-color-default: var(--awc-color-primary-600);
  --awc-button-font-size-large: var(--awc-font-size-medium);
  --awc-button-font-size-medium: var(--awc-font-size-small);
  --awc-button-font-size-small: var(--awc-font-size-xsmall);
  --awc-button-border-radius: var(--awc-border-radius-small);
  --awc-tag-border-radius: var(--awc-border-radius-small);
  --awc-image-border-radius: 0;
  --awc-section-spacing-button-button-mobile: var(--awc-spacing-xsmall);
  --awc-section-spacing-button-button-desktop: var(--awc-spacing-small);
  --awc-section-spacing-button-text-mobile: var(--awc-spacing-2xlarge);
  --awc-section-spacing-button-text-desktop: var(--awc-spacing-4xlarge);
  --awc-section-spacing-title-text-mobile: var(--awc-spacing-xsmall);
  --awc-section-spacing-title-text-desktop: var(--awc-spacing-medium);
  --awc-section-spacing-headline-title-mobile: var(--awc-spacing-3xsmall);
  --awc-section-spacing-headline-title-desktop: var(--awc-spacing-2xsmall);
  --awc-section-spacing-text-image-mobile: var(--awc-spacing-3xlarge);
  --awc-section-spacing-text-image-desktop: var(--awc-spacing-5xlarge);
  --awc-card-padding: var(--awc-spacing-xlarge);
  --awc-card-background-color: var(--awc-color-neutral-0);
  --awc-card-border-radius: var(--awc-border-radius-medium);
  --awc-background-color: var(--awc-color-neutral-0);
  --awc-font-size-base: var(--awc-font-size-medium);
  --awc-font-size-heading6: var(--awc-font-size-large);
  --awc-font-size-heading5: var(--awc-font-size-xlarge);
  --awc-font-size-heading4: var(--awc-font-size-2xlarge);
  --awc-font-size-heading3: var(--awc-font-size-3xlarge);
  --awc-font-size-heading2: var(--awc-font-size-4xlarge);
  --awc-font-size-heading1: var(--awc-font-size-5xlarge);
  --awc-color-neutral-950: var(--awc-color-gray-950);
  --awc-color-neutral-900: var(--awc-color-gray-900);
  --awc-color-neutral-800: var(--awc-color-gray-800);
  --awc-color-neutral-700: var(--awc-color-gray-700);
  --awc-color-neutral-600: var(--awc-color-gray-600);
  --awc-color-neutral-500: var(--awc-color-gray-500);
  --awc-color-neutral-400: var(--awc-color-gray-400);
  --awc-color-neutral-300: var(--awc-color-gray-300);
  --awc-color-neutral-200: var(--awc-color-gray-200);
  --awc-color-neutral-100: var(--awc-color-gray-100);
  --awc-color-neutral-50: var(--awc-color-gray-50);
  --awc-panel-border-color: var(--awc-color-neutral-200);
  --awc-tooltip-background-color: var(--awc-color-neutral-800);
  --awc-input-help-text-color: var(--awc-color-neutral-500);
  --awc-input-filled-color: var(--awc-color-neutral-800);
  --awc-input-filled-background-color: var(--awc-color-neutral-100);
  --awc-input-placeholder-color: var(--awc-color-neutral-500);
  --awc-input-icon-color: var(--awc-color-neutral-500);
  --awc-input-color-disabled: var(--awc-color-neutral-900);
  --awc-input-color-focus: var(--awc-color-neutral-700);
  --awc-input-color-hover: var(--awc-color-neutral-700);
  --awc-input-color-default: var(--awc-color-neutral-700);
  --awc-input-border-color-disabled: var(--awc-color-neutral-300);
  --awc-input-border-color-hover: var(--awc-color-neutral-400);
  --awc-input-border-color-default: var(--awc-color-neutral-300);
  --awc-input-background-color-disabled: var(--awc-color-neutral-100);
  --awc-text-paragraph-color: var(--awc-color-neutral-800);
  --awc-button-icon-color-disabled: var(--awc-color-neutral-300);
  --awc-button-icon-border-color-disabled: var(--awc-color-neutral-300);
  --awc-button-text-icon-disabled: var(--awc-color-neutral-300);
  --awc-button-text-color-disabled: var(--awc-color-neutral-300);
  --awc-button-tertiary-border-color-disabled: var(--awc-color-neutral-300);
  --awc-button-tertiary-background-color-disabled: var(--awc-color-neutral-300);
  --awc-button-secondary-color-disabled: var(--awc-color-neutral-300);
  --awc-button-secondary-border-color-disabled: var(--awc-color-neutral-300);
  --awc-button-primary-border-color-disabled: var(--awc-color-neutral-300);
  --awc-button-primary-background-color-disabled: var(--awc-color-neutral-300);
  --awc-card-border-color: var(--awc-color-neutral-200);
}

body {
  --awc-shadow-xsmall: calc(var(--awc-shadow-xsmall-x) * 1px) calc(var(--awc-shadow-xsmall-y) * 1px) calc(var(--awc-shadow-xsmall-blur) * 1px) calc(var(--awc-shadow-xsmall-spread) * 1px) var(--awc-shadow-xsmall-color);
  --awc-shadow-small: calc(var(--awc-shadow-small-x) * 1px) calc(var(--awc-shadow-small-y) * 1px) calc(var(--awc-shadow-small-blur) * 1px) calc(var(--awc-shadow-small-spread) * 1px) var(--awc-shadow-small-color);
  --awc-shadow-medium: calc(var(--awc-shadow-medium-x) * 1px) calc(var(--awc-shadow-medium-y) * 1px) calc(var(--awc-shadow-medium-blur) * 1px) calc(var(--awc-shadow-medium-spread) * 1px) var(--awc-shadow-medium-color);
  --awc-shadow-large: calc(var(--awc-shadow-large-x) * 1px) calc(var(--awc-shadow-large-y) * 1px) calc(var(--awc-shadow-large-blur) * 1px) calc(var(--awc-shadow-large-spread) * 1px) var(--awc-shadow-large-color);
  --awc-shadow-xlarge: calc(var(--awc-shadow-xlarge-x) * 1px) calc(var(--awc-shadow-xlarge-y) * 1px) calc(var(--awc-shadow-xlarge-blur) * 1px) calc(var(--awc-shadow-xlarge-spread) * 1px) var(--awc-shadow-xlarge-color);
}

.awc-scroll-lock {
  padding-right: var(--awc-scroll-lock-size) !important;
  overflow: hidden !important;
}

.awc-toast-stack {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  z-index: var(--awc-z-index-toast);
  width: 28rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.awc-toast-stack awc-alert {
  margin: var(--awc-spacing-medium);
}

.awc-toast-stack awc-alert::part(base) {
  box-shadow: var(--awc-shadow-large);
}
